[project]
	description = Fighting the copy-paste element of your rebase workflow.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cristiano Giuffrida (cgiuffr)
[access "refs/for/refs/*"]
	read = group user/Cristiano Giuffrida (cgiuffr)
	push = group user/Cristiano Giuffrida (cgiuffr)
	label-Code-Review = -2..+2 group user/Cristiano Giuffrida (cgiuffr)
	label-Verified = -1..+1 group user/Cristiano Giuffrida (cgiuffr)
	rebase = group user/Cristiano Giuffrida (cgiuffr)
	removeReviewer = group user/Cristiano Giuffrida (cgiuffr)
	submit = group user/Cristiano Giuffrida (cgiuffr)
[access "refs/heads/*"]
	read = group user/Cristiano Giuffrida (cgiuffr)
	create = group user/Cristiano Giuffrida (cgiuffr)
	push = +force group user/Cristiano Giuffrida (cgiuffr)
	pushMerge = group user/Cristiano Giuffrida (cgiuffr)
[access "refs/tags/*"]
	push = +force group user/Cristiano Giuffrida (cgiuffr)
	pushTag = group user/Cristiano Giuffrida (cgiuffr)
	pushSignedTag = group user/Cristiano Giuffrida (cgiuffr)
